<h2>All Mechanics</h2>

<% @mechanics.each do |mechanic| %>
  <p>Name: <%= mechanic.name %></p>
  <p>Years: <%= mechanic.years_experience %></p>
<% end %>

<p>Average Years Experience: <%= Mechanic.average_years_experience %></p>